<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/all-users">All Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/create-user" >Create User</a>
                          </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="#"></a>
                        </li>
                      </ul>
                      <span class="navbar-text">
                       
                      </span>
                    </div>
                  </div>
              </nav>
        </div>

        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>
<div class="content">
    <div class="welcome-page">
        <h1>Welcome, Administrator!</h1>
        <p>Use the navigation bar on the left to manage your tasks and settings.</p>
    </div>

</div>
